<!-- core/templates/core/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система управления ПВЗ</title>
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body>
    {% include 'core/header.html' %}
    <div class="layout">
        {% include 'core/navigation.html' %}
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
