<!-- core/templates/core/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Платформа{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body>
    <header>
        {% block header %}
        <h1>Добро пожаловать в Платформу!</h1>
        {% endblock %}
    </header>

    <div class="container">
        <aside>
            <!-- Подключаем навигацию -->
            {% include 'core/navigation.html' %}
        </aside>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        {% block footer %}
        <p>&copy; 2024 Платформа для разработчика</p>
        {% endblock %}
    </footer>
</body>
</html>
