<!-- core/templates/core/navigation.html -->
<nav>
    <h3>Навигация</h3>
    <ul>
        {% for app in APPS %}
            <li>
                <a href="{% url app.url_name app.name %}">{{ app.name }}</a> - {{ app.description }}
                {% if app.subapps %}
                    <ul>
                        {% for subapp in app.subapps %}
                            <li><a href="{{ subapp.url }}">{{ subapp.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h3>Управление</h3>
    <ul>
        {% for tool in management_tools %}
            <li><a href="{{ tool.url }}">{{ tool.name }}</a></li>
        {% endfor %}
    </ul>
</nav>
