/* core/static/core/css/base.css */

/* Сброс стилей */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Основные стили для тела страницы */
body {
    font-family: var(--font-family); /* Основной шрифт по умолчанию */
    font-size: 16px; /* Размер шрифта по умолчанию */
    line-height: 1.6; /* Межстрочный интервал */
    color: #333; /* Основной цвет текста */
    background-color: #f9f9f9; /* Цвет фона */
    margin: 0;
    padding: 0;
}

/* Стили для заголовков */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}
