/* core/static/core/css/header.css */

/* Шапка */
.header {
    position: fixed; /* Фиксированное положение шапки */
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--header-bg-color); /* Используем переменную для цвета фона */
    color: var(--header-text-color); /* Используем переменную для цвета текста */
    padding: 10px var(--content-padding); /* Внутренние отступы */
    z-index: var(--header-z-index); /* Обеспечим, чтобы шапка была выше других элементов */
    box-shadow: inset 0 -2px 0 0 var(--header-shadow-color); /* Тень под шапкой */
}

/* Общие свойства контейнеров для элементов шапки */
.header-container,
.logo-link,
.header-left,
.header-bar,
.header-actions,
.user-info {
    display: flex; /* Flexbox для выравнивания элементов */
    justify-content: space-between; /* Распределение элементов по ширине */
    align-items: center; /* Вертикальное центрирование */
    color: var(--header-text-color);
    gap: 16px;
}

/* Контейнер для действий в шапке */
.header-bar {
    display: flex; /* Flexbox для выравнивания элементов внутри */
    align-items: center; /* Вертикальное центрирование элементов внутри */
    justify-content: space-between; /* Если нужно распределить элементы */
}

/* Свойства контейнера для профиля пользователя */
.user-info {
    color: var(--header-text-color);
    gap: 16px;
}

/* Свойства разделителя внутри header-bar */
.header-separator {
    background-color: var(--header-icon-color);
    height: 32px;
    margin-left: 3px;
    margin-right: 4px;
    width: 1px;
}

.header-actions {
    color: var(--header-icon-color);
}