/* core/static/core/css/styles.css */
/* 
    Файл: core/static/core/css/styles.css
    Описание: Стили для базового оформления страницы, включая сворачиваемую навигационную панель.
*/

/* Общие стили для основного контента */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили верхней панели */
.top-bar {
    background-color: #007bff;
    color: #fff;
    height: 60px;
}

/* Стили для навигационной панели */
.sidebar {
    width: 250px;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar .nav-item {
    position: relative;
}

/* Скрытие тултипов при развернутой панели */
.sidebar:not(.collapsed) .nav-item [data-bs-toggle="tooltip"] {
    pointer-events: none;
}

/* Стили ссылок в навигационной панели */
.sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.sidebar .nav-link i {
    margin-right: 10px;
    font-size: 1.2rem;
}

/* Скрытие текста ссылок при сворачивании */
.sidebar.collapsed .link-text {
    display: none;
}

/* Стили для иконки кнопки сворачивания/разворачивания */
.sidebar-header .btn {
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
}

/* Изменение цвета иконки на серый */
.sidebar-header .btn .toggle-icon {
    color: #6c757d; /* Серый цвет */
}

/* Стили для основного контента */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
}
