/* Общие стили для навигационной панели */
.sidebar {
    width: 250px;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 70px;
}

/* Скрытие подменю по умолчанию */
.submenu {
    display: none; /* Скрываем подменю по умолчанию */
}

/* Показываем подменю при наведении на элемент с классом has-submenu */
.has-submenu:hover .submenu {
    display: block; /* Показываем подменю при наведении */
}

/* Стили для кнопок в навигационной панели */
.menu-item.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Выравнивание текста по левому краю */
.menu-label {
    flex-grow: 1;
    text-align: left; /* Выравнивание по левому краю */
}

/* Стили для текста метки */
.label-text {
    font-size: 1rem; /* Размер текста */
}

/* Стили для иконок */
.menu-icon svg,
.menu-arrow svg {
    width: 24px;
    height: 24px;
}

/* Стили для кнопок при наведении */
.menu-item.button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Цвет фона при наведении */
}

/* Увеличиваем отступ между иконкой и текстом */
.menu-icon {
    margin-right: 15px; /* Отступ от иконки до текста */
}
