/* core/static/core/css/variables.css */

:root {
    --font-family: Arial, sans-serif; /* Основной шрифт */
    --header-bg-color: #fff; /* Цвет фона шапки */
    --header-text-color: #001122f2; /* Цвет текста шапки */
    --header-icon-color: #6183a229; /* Цвет иконок шапки*/
    --header-height: 50px; /* Высота шапки */
    --header-z-index: 1501; /* z-index для шапки */
    --navigation-bg-color: #203148; /* Цвет фона навигационной панели */
    --navigation-width: 200px; /* Ширина навигационной панели */
    --navigation-padding: 20px; /* Внутренние отступы навигационной панели */
    --content-padding: 20px; /* Внутренние отступы для контента */
}
